# dependencies
/node_modules
/package-lock.json

# environment
.env

# local downloads
/downloads

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
node_modules/
.env
downloads/
